.movieList {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(5, 1fr);
  padding: 16px;
}

.movieImg {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 300ms, filter 300ms;
}

.movieLink {
  box-shadow: 0 0 16px #0004;
  display: block;
  position: relative;
  overflow: hidden;
  transition: box-shadow 300ms;
  border-radius: 4px;
}

.movieLink:hover .movieImg {
  filter: blur(2px);
  transform: scale(1.02);
}

.movieLink:hover .movieOverlay {
  opacity: 1;
}

.movieTitle {
  font-size: 24px;
  font-weight: bold;
  color: white;
  word-break: break-word;
}

.movieOverlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  padding: 16px 4px;
  transition: opacity 300ms;
  background-color: rgba(0, 0, 0, 0.5);
}
